/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body {
  font-family: "Copse", serif;
  justify-content: center;
}

table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  background-color: #060ce9;
}
thead {
  color: yellow;
  font-weight: bolder;
}

td {
  color: white;
  font-size: larger;
  border: 10px solid #115ff4;
  height: 10rem;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.null {
  color: yellow;
  font-size: xx-large;
}

#overlay {
  position: fixed;
  display: none;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(6, 12, 233);
  border: solid #115ff4 15px;
  border-radius: 200px;
  z-index: 2;
}

#overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: yellow;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
