/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body {
  font-family: "Copse", serif;
  justify-content: center;
}

table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  background-color: #060ce9;
}
thead {
  color: yellow;
  font-weight: bolder;
}

td {
  color: white;
  font-size: larger;
  border: 2px solid #115ff4;
  height: 8rem;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.null {
  color: yellow;
  font-size: xx-large;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
